$sunset: #f05f3b;
$cream: #e7e5d7;
$lightCream: #edece6;
$seaFoam: #55ecee;
$midnight: #404041;
$gravel: #9b9893;

body {
  background-color: $lightCream;
  color: white;

  h1 {
    font-size: 2rem;
    margin: 1rem 0;
  }
}
